body {
	height: 100vh;
}

h3 {
	font-size: 1.5rem;
	font-weight: bold;
}

.paginator-select {
	display: none;
}

button:disabled,
button[disabled] {
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
}
